.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, var(--color-bg), var(--color-renci));
}

.layout {
  margin: 0;
  padding: 1rem;
  max-width: 800px;
  border-radius: 0;
  overflow: hidden;
  filter: drop-shadow(0 0 1rem #00000033);
  background-image: linear-gradient(120deg, #bdd, #eff) !important;
  transition: margin 250ms;
}

@media (min-width: 768px) {
  .layout {
    margin: 2rem;
    border-radius: 0.5rem;
  }
}

.footer {
  background-color: transparent !important;
  color: var(--color-unc-white) !important;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
